<div class="row">
  <div>
    <h2 class="welcome" >Welcome, <strong>{{username}}</strong>!</h2>
  </div>
  <div>
    <a href="/newpost/"><i class="fas fa-plus fa-2x add-post"></i></a>
  </div>
</div>


  {{!-- <div class="col-md-6">
    <h3>Create a New Post:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">post title:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" value = {{post.title}} />
      </div>
      <div class="form-group">
        <label for="project-desc">content:</label>
        <textarea class="form-input" id="project-desc" name="project-desc">{{post.content}}</textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div> --}}

{{!-- {{#if posts.length}} --}}
<div>
  <h3>My Posts:</h3>
</div>

{{#each posts as |post|}}
<div class="posts-container">
  <div class="post-header">
    <h2><a href="/updatepost/{{post.id}}">{{post.title}}</a></h2>
  </div>
  <div class="content-header">
    <p>{{post.content}}</p>
  </div>
  {{!-- <div class="btn-container" >
    <div>
      <button class="btn-primary" data-id="{{post.id}}">Update</button>
    </div>
    <div>
      <button class="btn-danger" data-id="{{post.id}}">DELETE</button>
    </div>    
  </div> --}}
</div>
{{/each}}

{{!-- {{/if}} --}}

<script src="/js/profile.js"></script>