{{#each posts as |post| }}
<div class="posts-container">
  <div class="post-header">
    <h2>
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    <div class="h-h-h-w">
      <p>Posted by <strong>{{user.username}}</strong> on {{format_date post.date_created}}</p>      
    </div>
  </div>
  <div class="content-header">
    <p>
      {{post.content}}
    </p>
  </div>
</div>
{{/each}}